// Custom embed wrapper on the public event detail page.
.o_wevent_event_custom_embed {
    iframe,
    embed,
    object {
        max-width: 100%;
    }
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
